html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $body-bg ;
}

#main {
  color: #FFF;
  background-repeat: no-repeat;
}

nav {
  box-shadow: 2px 2px rgba(0,0,0,.15);
  letter-spacing: 1px;
  text-transform: uppercase;

  .navbar {
    &-brand {
      font-family: $font-2;
    }
    &-nav {
      margin: 0 0 0 10px;
    }
  }

  .nav {
    &-item {
      margin: 0 0 0 10px;
    }
    &-link {
      font-size: 12px;
    }
  }

  @include for-desktop-down {
    // @extend %full-hw;
    ul.navbar-nav {
      display: inline-block;
      li.nav-item {
        float: left;
        width: 60px;
      }
    }
  }
}

.header {
  height: $navbar-height;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  .navbar {
    height: inherit;
  }
}

.footer {
  height: 1.5rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #696969;
  display: grid;
  align-items: center;
}

a.asaka-link {
  color: #FFF;
  text-decoration: none;
  font-size: 0.5rem;
  @include transition(font-size 0.5s);
  &:link {
    color: #FFF;
    text-decoration: none;
    @include transition(font-size 0.5s);
  }
  &:hover {
    color: #FFF;
    font-size: 1rem;
    text-decoration: none;
  }
}

// Grid Layout

.grid-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: $navbar-height 1fr 1.5rem;
  align-items: center;

  .footer {
    grid-row: 3 / span 1;
    align-self: end;
    width: 100%;
    font-size: 10px;
    color: white;
    margin: 0;
    text-align: right;
    padding: 0 1rem 0 0;
    &:hover {

    }
  }

  #main {

  }
}
