html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $body-bg ;
}

#main {
  color: #FFF;
  background-repeat: no-repeat;
}

nav {
  box-shadow: 2px 2px rgba(0,0,0,.15);
  letter-spacing: 1px;
  text-transform: uppercase;

  .navbar {
    &-brand {
      font-family: $font-2;
    }
    &-nav {
      margin: 0 0 0 10px;
    }
  }

  .nav {
    &-item {
      margin: 0 0 0 10px;
    }
    &-link {
      font-size: 12px;
    }
  }

}

.header {
  height: $navbar-height;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  .navbar {
    height: inherit;
  }
}

a.asaka-link {
  &:link {
    color: #FFF;
    text-decoration: none;
    @include transition(font-size 0.5s);
  }
  &:hover {
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
  }
}

// Grid Layout

.grid-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: $navbar-height 1fr 50px;
  align-items: center;

  .footer {
    grid-row: 3 / span 1;
    align-self: end;
    width: 100%;
    font-size: 10px;
    color: white;
    margin: 0;
    text-align: center;
  }

  #main {
    @extend %full-hw;
    grid-row: 2 / span 1;
    height: inherit;
    display: grid;
    grid-template-columns:(1440px - 490px) auto;

    #channel-container {
      @extend %full-hw;
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      padding: 20px 20px 0 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
    }

    #chat-container {
      @extend %full-hw;
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
    }
  }
}
