@mixin transition($property...) {
  @each $item in $property {
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
  }
}


@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-down {
  @media (max-width: 600px) { @content; }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 900px) { @content; }
}
@mixin for-desktop-down {
  @media (max-width: 1200px) { @content; }
}
@mixin for-big-desktop-down {
  @media (min-width: 1800px) { @content; }
}
@mixin for-lower-height {
  @media (max-height: 699px) { @content; }
}
@mixin for-full-height {
  @media (min-height: 700px) { @content; }
}

// @mixin md-down($size) {
//   @media all and (max-width: $size){
//     @content;
//   }
// }
//
// @mixin md-down($size) {
//   @media all and (min-width: $size){
//     @content;
//   }
// }
