
// Body
$body-bg: #22282C;
// $body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-2: "Nunito";
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$myRed: #C70039;

$navbar-height: 4rem;

// img
$bg-image-1: url("/../img/sam-wermut-waves-unsplash.jpg");

//global settings
$g-ttime: 0.5s; //Global Transition Time
$g-padding: 1.25em;

//Media Breakpoints MEEEKOW
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$bp-sm: 24em;
$bp-sm2: 29.75em;
$bp-sm3: 39.8em;
$bp-md: 46.8em;
$bp-md2: 48em;
$bp-lg: 50em;
$bp-lg2: 54.5em;
$bp-xl: 60em;
$bp-xl2: 67em;
