
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Raleway');

// Variables
@import 'variables';
@import 'inheritance';
@import 'mixins';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom Imports
// @import 'main';
// @import 'front';
// @import 'component/multi';
// @import 'component/manage-form';
// @import 'component/chat-container';
// @import 'component/chatbox';
// @import 'component/chatbox-button';
@import 'global';

.iframe-container {
  overflow: hidden;
  padding-top: 80vh;
  position: relative;
  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
