.front {
  grid-column: 1 / span 2;
  width: 100%;
  height: 100%;
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: right;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1.5rem 2rem 1.5rem 2rem;
}

.introductions {
  // flex: initial;
  grid-column: 1 / span 1;
  width: 100%;
  padding: 0 2rem 0 1rem;
}

.ph-channel {
  width: 100%;
  grid-column: 2 / span 1;
  // padding: 0 0 0 2rem;
  .player-main {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      @extend %full-hw;
    }
  }
}
