  $t: $g-ttime; //for faster typing!

#main {
  @extend %full-hw;
  grid-row: 2 / span 1;
  height: inherit;
  display: grid;
  grid-template-columns: 90% auto;
  @include for-phone-only {
    display: flex;
    flex-wrap: wrap;
  }
  #channel-container {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    padding: 2.5vh 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 90%;
    @include for-phone-only {
      align-content: start;
      text-align: center;
      justify-content: center;
      width: 100vw;
      padding: 2.5vh 0 0 0;
    }
  }
}

.player {
  flex: initial;
  margin: 0 0 2.5vh 1rem;
  @include for-phone-only {
    margin: 0 0 2.5vh 0;
    width: 360px;
    height: 240px;
  }
  @include for-tablet-portrait-down {
  }
  @include for-tablet-landscape-down {
  }
  @include for-big-desktop-down {
    width: 450px;
    height: 300px;
  }
}
