#chat-core {
  display: grid;
  grid-template-rows: minmax(50px, auto) auto;
}

// .chatbox-modal {
//   display: none;
//   height: 80vh;
//   width: calc(100vw - 2rem);
//   position: fixed;
//   top: 0;
//   left: 0;
//   top: 6.1rem;
//   background-color: rgba(0, 0, 0, 0.8);
//   border-radius: 0.6rem;
//   // z-index: 100;
//   margin: 1rem;
//   &.show{
//     display: block;
//   }
// }
.channel-button {
  display: none;
  padding: 0.1rem 0.25rem 0.1rem 0.25rem;
  border-radius: 0.25rem;
  border: 0.05rem solid white;
  background-color: $myBlue;
  font-size: 0.8rem;
  &:hover {
    background-color: $myGreen;
    cursor: pointer;
  }
  &.active {
    display: inline-block;
    &.main {
      background-color: $myGreen;
    }
  }
}
#chat-channel-heads {
  grid-row: 1 / span 1;
}
#chat-channels {
  margin: 0.4rem 0 0 0;
  grid-row: 2 / span 1;

  .chat-channel-heads {
    height: 100%;
    flex: initial;
    .channel-button.main {}
  }
  .chat-channel {
    @extend %full-hw;
    overflow: hidden;
    position: relative;
    display: none;

    &.active {
      display: block;
    }
    @include for-lower-height {
      padding-top: 90vh;
    }
    @include for-full-height {
      padding-top: 80vh;
    }

    iframe {
      display: none;
      height: 98%;
      left: 0;
      position: absolute;
      width: 100%;
      &.active {
        display: inline-block;
      }
      @include for-lower-height {
        top: -100px;
      }
      @include for-full-height {
        top: 0;
      }
    }
  }

}
